@page
@model AutoPortfolio.Pages.IndexModel
@{
    ViewData["Title"] = "Repozytoria";
}

@if (Model.Repositories.Count == 0)
{
    <p>Brak danych lub trwa ładowanie...</p>
}
else
{
    <ul>
        @foreach (var repo in Model.Repositories)
        {
            <li>
                <strong>@repo.Name</strong><br />
                @repo.Description <br />
                <a href="@repo.HtmlUrl">Zobacz na GitHubie</a><br />
                <p>Adres: @(repo.HtmlUrl ?? "[brak danych]")</p>
                <small>Ostatnia zmiana: @repo.UpdatedAt.ToShortDateString()</small>
                <hr />
            </li>
        }
    </ul>
}